<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="FlightXML3Soap">
              <security mode="Transport">
                <transport clientCredentialType="Basic" />
              </security>
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://flightxml.flightaware.com/soap/FlightXML3/op"
                binding="basicHttpBinding" bindingConfiguration="FlightXML3Soap"
                contract="FlightXML3.FlightXML3Soap" name="FlightXML3Soap" />
        </client>
    </system.serviceModel>
</configuration>